<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/layout}'>

<div layout:fragment="content" class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Show
          </div>

          <div class="panel-body">
            <form method="post" action="todo/{tno}" th:object="${todoFormDTO}">
              <div class="input-group mb-3">
                <span class="input-group-text">TNO</span>
                <input type="text" class="form-control" th:value="${todo.tno}" readonly>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" class="form-control" th:value="${todo.title}" readonly>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">DueDate</span>
                <input type="text" class="form-control" th:value="${todo.dueDate}" readonly>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Writer</span>
                <input type="text" class="form-control" th:value="${todo.writer}" readonly>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" th:value="${todo.finished}" id="finishedChk">
                <label class="form-check-label" for="finishedChk">
                  Finished
                </label>
              </div>

              <div class="modal-footer">
                <button type="modify" class="btn btn-primary"
                        th:formaction="@{'/todo/modify/' + ${todo.tno}}">Modify
                </button>
                <button data-oper="list" class="btn btn-secondary"
                        th:formaction="@{/todo/list}">list
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>